@media screen and (max-width: 1220px) {
    .markets-data__item:nth-child(n+6) {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .markets-data__item:nth-child(n+5) {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .markets-data__item:nth-child(n+4) {
        display: none;
    }
}

@media screen and (max-width: 489px) {
    .markets-data__item:nth-child(n+3) {
        display: none;
    }

    .title {
        font-size: 25px;
        overflow-clip-margin: content-box;
        overflow: hidden;
    }
}

@media screen and (max-width: 240px) {
    .markets-data__item:nth-child(n+2) {
        display: none;
    }

    .title {
        font-size: 20px;
        overflow: hidden;
    }
}

@media screen and (max-width: 200px) {
    .title {
        font-size: 17px;
        white-space: break-spaces;
    }
}

.container {
    max-width: 1400px;
    margin: 20px auto;
}