<section id="login-page">
    <div class="boxs">
        <div class="card-image">
            <h2 class="card-heading">
                Login
            </h2>
        </div>
        <form class="card-form" action="/auth/login" method="post">

            <div class="input">
                <input type="text" class="input-field" placeholder="alexander" id="username" name="username" value="{{username}}" />
                <label class="username">Username</label>
            </div>
            <div class="input">
                <input type="password" class="input-field" id="password" name="password" placeholder="******" />
                <label class="password">Password</label>
            </div>
            <div class="action">
                <button class="action-button">Login</button>
            </div>
        </form>
        <div class="card-info">
            <p>Dont have an account?
                <a href="/auth/register">Sign up</a>.
            </p>
        </div>
    </div>
</section>


{{!-- <section id="viewLogin">
    <h2>Login:</h2>
    <form id="formLogin" action="/auth/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="email" placeholder="Enter your Username" value="{{email}}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password">
        <input type="submit" class="login" value="Login">
    </form>
</section>
--}}


{{!-- <form class="text-center border border-light p-5" action="/auth/login" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{body.username}}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form> --}}