<form class="search" action="/apart/search" method="get">
    <input type="search" name="search" placeholder="Search here...">
    <button type="submit">Search</button>
</form>
<section id="find-section">

    <!-- If there are any matching matches from the search, show each of them -->

{{#if justPage}}
    {{#if aparts}}
    {{#each aparts}}
    {{> apart}}
    {{/each}}
    {{else}}
    <!-- If there are no search matches, show: -->
    <div class="no-data-listing">
        <p class="no-offer">No match was found for the submitted type...</p>
    </div>
    {{/if}}
{{/if}}

</section>