
<h1 class="text-center">Top Courses</h1>
<div class="container mt-3">
     {{#if courses}}
    <div class="row d-flex justify-content-center">

        <div class="card-deck">
           {{#each courses}}
            {{> guestCourse}}
           {{/each}}

        </div>

    </div>
    {{else}}
    <h4 class="text-center">No courses...</h4>
 {{/if}}
</div>



{{!-- <section id="viewCatalog" class="background-img">
    {{#if hotels}}
    <div class="added-hotels">
        {{#each hotels}}
        {{> hotel}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section> --}}