<div>
    <div class="home-image">
        <img src="{{image}}" alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{name}}</h4>
        {{#if hasUser}}
        <div class="info-buttons">
            
            <a class="btn details" href="/details/{{_id}}">Details</a>
            <span class="likes">{{count}} likes</span>
        </div>
        {{/if}}
    </div>
</div>

